.info-container {
    background-image: url('/src/assets/PowerImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
}

.info-container p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    width: 700px;
    text-indent: 20px;
}

p ul {
    margin-left: 50px;
}

.nav-btns {
    margin-top: 23px;
    display: flex;
    gap: 20px;
}

.nav-btn {
    background-color: #2196F3;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-btn-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

@media (max-width: 950px) {
    .info-container h1 {
        font-size: 36px;
    }
}

@media (max-width: 700px) {
    .info-container p {
        width: 90%;
        font-size: 18px;
    }

    .info-container {
        padding: 50px 10px;
    }
}

@media (max-width: 580px) {
    .info-container .nav-btns {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .info-container h1 {
        font-size: 28px;
    }

    .info-container .nav-btn {
        padding: 8px 16px;
    }

    .info-container .nav-btn-link {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .info-container p {
        font-size: 16px;
    }

    .info-container ul {
        margin-left: 0px;
    }
}

@media (max-width: 320px) {
    .info-container h1 {
        font-size: 24px;
    }

    .info-container .nav-btn {
        padding: 6px 12px;
    }
}