nav {
    position: absolute;
    top: 20px;
    min-width: 45%;
    background-color: #2196F3;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    z-index: 9999999999;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px 20px;
    gap: 20px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

nav ul button.burger {
    background-color: #2196F3;
    padding: 10px;
    margin-right: 8px;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: -45px;
    border: none;
    transition: 0.5s;
    opacity: 0;
    color: white;
}

nav.nav-active {
    left: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 620px) {
    nav {
        width: 100%;
    }

    nav ul li a {
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    nav ul button.burger {
        visibility: visible;
        opacity: 1;
    }

    nav {
        height: 100vh;
        width: 240px !important;
        left: -240px;
        top: 0;
        border-radius: 0px 0px 20px 0px ;
        transform: translateX(0);
    }

    nav ul {
        flex-direction: column;
        width: 10px;
    }
}