.calc-your-power-container {
    width: 100%;
    min-height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/src/assets/PowerImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.form-table {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0px;
    width: 400px;
}

.input-wrap {
    position: relative;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-wrap input {
    width: 100%;
    background-color: #EFF3F9;
    border: 2px solid transparent;
    outline: none;
    padding: 1.5rem calc(1.75rem + 20px) calc(0.75rem - 2px) 1.75rem;
    font-size: 0.95rem;
    border-radius: 10px;
    transition: 0.5s;
}

.input-wrap label {
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(1.35rem + 2px);
    pointer-events: none;
    transition: 0.25s;
    color: #9ca7b6;
}

.input-wrap.focus .form-inp {
    background-color: white;
    border: 2px solid #1976D2;
    box-shadow: 0 0 5px #1976D2;
}

.input-wrap input:hover {
    background-color: #6080BF23;
}

.input-wrap.not-empty label {
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
    left: 1.75rem;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #1976D2;
}

table {
    width: 400px;
}

table th {
    background-color: #2196F3;
    color: white;
}

@media (max-width: 920px) {
    .calc-your-power-container {
        padding: 20px;
    }

    .calc-your-power-container h1 {
        font-size: 40px;
    }
}

@media (max-width: 850px) {
    .form-table {
        flex-direction: column;
        gap: 10px;
        width: 70%;
    }

    form {
        width: 100%;
    }

    table {
        width: 100%;
    }
}

@media (max-width: 730px) {
    .calc-your-power-container p {
        width: fit-content;
    }

    .calc-your-power-container h1 {
        font-size: 30px;
    }
}

@media (max-width: 530px) {
    .calc-your-power-container h1 {
        font-size: 25px;
    }

    .calc-your-power-container p {
        font-size: 15px;
    }

    .form-table {
        width: 90%;
    }
}