.my-power-container {
    padding: 50px;
    background-image: url('/src/assets/PowerImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.my-power-container table {
    width: fit-content;
}

.my-power-container p {
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    text-indent: 20px;
}

.my-power-container h1 {
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

.my-power-container table {
    width: 100%;
} 

table,
tr,
td,
th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255, 0.1);
}

@media (max-width: 500px) {
    .my-power-container {
        padding: 10px 5px;
    }
}